body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/montreal-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  text-align: center;
  color: white;
}

header a:hover {
  text-decoration: none;
  color: #cb6015;
}

footer {
  padding: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/footer.jpeg");
  background-repeat: none;
  background-size: cover;
  color: white;
}

footer h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: all 2s ease-in-out;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: green;
  text-decoration: none;
}

header h3 {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
}

header h2 {
  font-size: 24px;
  line-height: 10px;
  margin-bottom: 30px;
  font-weight: 300;
}

section h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

section h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: left;
  color: grey;
}

section {
  padding: 60px;
}

p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

h4,
h5 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.secondary {
  background: lightgray;
}

.card {
  padding: 15px;
}

.card a:hover {
  text-decoration: none;
  color: black;
}

.custom-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
.embed {
  width: 100%;
  aspect-ratio: 1/2;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.box {
  margin: 20px;
  padding: 10px;
}

.header-button {
  background: white;
  padding: 10px 20px;
  color: black;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  initial-letter: 3pc;
}

.main-image {
  width: 90%;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
}

.learn-more {
  width: 80%;
  border-radius: 0px;
  padding: 16px 32px 16px 32px;
  background: #cb6015;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 900px) {
  .grid-2-column {
    grid-template-columns: 1fr;
  }

  .main-image {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .img-responsive {
    display: none;
  }

  .embed {
    aspect-ratio: 1/1;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
  }

  .box {
    font-size: 9px;
  }
}
